:root
{
  --black: #282828;
  --blue: #FF8800;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: red 2px solid; */
}
html, body, section{
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
  font-size: 20px;
}
/* inspo */
/* https://garfieldrobotics.com/ */
/* https://lancerrobotics.com/ */
/* https://www.ftc7244.org/ */

.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  /* background: var(--black); */
}
.nav-center{
  max-width: 1250px;
  width: 95vw;
  /* background: red; */
}
.nav-header{
  height: 7rem;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.nav-header img{
  width: 150px;
}
.nav-logo{
  display: flex;
  align-items: center;
}
.nav-links{
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.show-links{
  /* change when adding more links */
  height: 260px;
}
.nav-link{
  display: block;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem 0;
  border-top: 1px solid var(--black);
  font-size: 1rem;
  text-decoration: none;
  color: white;
  transition: 0.3s;
} 
.nav-link:hover{
  /* Find better color */
  color: var(--blue);
}

@media screen and (min-width:900px) {
  .nav-btn{
    display: none;
  }
  .navbar{
    height: 7rem;
    /* height: auto; */
  }
  .nav-center{
    display: flex;
    align-items: center;
  }
  .nav-header{
    height: auto;
    margin-right: 2rem;
  }
  .nav-links{
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
  }
  .nav-link{
    padding: 0;
    border-top: none;
    margin-right: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
  }
}
/* Hero */
.hero{
  /* Sizing */
  width: 100%;
  height: 90%;
  /* height: 50rem; */
    
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
    
  /* Text styles */
  text-align: center;
    
  /* Background styles */
  background-image: url("./HERO.jpeg");
  background-size: cover;
  background-position: center 15%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
/* diff hero images */
.about-hero{
  background-image: url("./AboutHero.png");
  height: 60%;
  background-position: 50% 80%;
}
.robots-hero{
  background-image: url("./robots.JPG");
  background-attachment: fixed;
  background-position: 50% 45%;
}
.team-updates-hero{
  background-image: url("./robots.JPG");
  background-position: 50% 45%;
}
.contact-hero{
  background-image: url("./GMLogoBlue2018-19HighRez.png");
  background-position: 50% 20%;
}
.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2.5rem;
}
.hero-link{
  margin-top: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
@media screen and (max-width:620px) {
  .hero{
    height: 50%;
  }
}

/* About us */
.about-us .container{
  background: var(--black);
  width: 100%;
  /* height: 25rem; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.about-content{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
  padding: 1%;
  margin-left: 2vw;
  font-size: 20px;
}
.about-elements{
  background: var(--var(--black));
  border: 2px solid var(--var(--black));
  border-radius: 2rem;
  background: var(--var(--black));
  margin: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1400px;
  
}
.about-header{
  color: white;
}
.about-text{
  width: 100%;
  min-width: 10rem;
  color: white;
  font-size: 20px;
}
.about-img{
  width: 50%;
  max-width: 60rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 25%;
}
.flex{
  display: flex;
}
@media screen and (max-width:992px) {
  .about-content{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .about-elements{
    flex-direction: column;
  }
  .about-img{
  width: 50%;
  max-width: 40rem;
  margin-left: 25%;
}
  .about-text{
    width: 95%;
  }
}
/* robot highlight */
.robot-content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
/* .robot-highlight{
  background: url("./RobotHighlight.jpg");
  background-attachment: fixed;
  background-position: 20% 70%;
} */
/* Diff color backgorunds */
.duck-sauce
{
  background: var(--black);
}
.chimera{
  background: var(--black);
}
.fanta{
  background: var(--black);
}
.eclipse{
  background: var(--black);
}
.robot-word-content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}
.robot-img{
  margin: 1rem;
  width: 60%;
  max-width: 650px;
}
.robot-name{
  margin-top: 3rem;
  font-size: 2rem;
}
.robot-season{
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.robot-text{
  width: 80%;
  margin-bottom: 2rem;
}
/* when big screen */
@media screen and (min-width:992px) {
  .robot-content{
    flex-direction: row;
    height: 100%;
  }
  .robot-word-content{
    justify-content: left;
    text-align: left;
  }
  .robot-text{
    width: 70%;
  }
  .robot-img{
    margin-left: 10%;
  }
  .about-img{
    margin-right: 10%;
  }
}

/* Footer */
footer {
    background-color:var(--black);
    padding: 2em;
    border-top: var(--blue) 1px solid;
}

.footer-content {
  text-align: center;
  color: white;
}